<%# app/views/application/_empty_list.html.erb %>
<div class="row">
<div class="col"></div>
<div class="col">
<%= image_tag("empty.png", :alt => "rss feed",:width=>600) %>
</div>
<div class="col"></div>
</div>